html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
    box-sizing    : border-box;
}

* {
    box-sizing: border-box;
    border    : 1px solid black;
}

.custom-select--cont {
    display       : flex;
    flex-direction: column;
}

.child-a--csc {
    position: relative;
    width   : 100%;
}

.ca-child-a--csc {
    width          : 100%;
    border         : 1px solid black;
    padding-left   : 5px;
    padding-right  : 5px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}

.caca-child-a--csc {
    flex    : 0 0 auto;
    position: relative;
}

.caca-child-b--csc {
    flex: 0 0 10px;
}

.caca-child-c--csc {
    flex: 0 0 10px;
}

.cacb-child-b--csc {
    /* border: 1px solid black; */
}

.ca-child-b--csc {
    width           : max-content;
    position        : absolute;
    top             : 25px;
    left            : 0px;
    background-color: #f8f4f4;
    color           : #000000;
    margin-top      : -5px;
    box-shadow      : 2px 4px 1px #E0E0E0;
    border          : 1px solid #C7C7C7;
    border-radius   : 5px;

}

.cacb-child-a--csc {
    width: 100%;
}

.cacbca-child-a--csc {
    border                 : none;
    border-top-left-radius : 5px;
    border-top-right-radius: 5px;
}

.display-options {
    visibility    : visible;
    display       : flex;
    flex-direction: column;
    transition    : all 0.1s;
}

.hide-options {
    visibility    : hidden;
    transition    : all 0.1s;
    pointer-events: none;
}

.option-child--scs {
    width        : 100%;
    padding      : 5px;
    border-top   : 1px solid #A1A1A1;
    border-right : none;
    border-bottom: none;
    border-left  : none;
}

.option-child--scs:hover {
    background-color: #C7C7C7;
}

.ca-child-b--csc .cacb-child-a--csc:nth-child(1) {
    border-top: none;
}